{{ 'xb-1da259eb.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section kpr-video-wrapper id_mcsfhqyo4sf3" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:start;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcsfhqyo4sf3"
      data-xb-scroll-id="id_mcsfhqyo4sf3"
      data-xb-section-global="false"
      xo-preset="4150172838"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcsfhqyo5xg4" style="--xb-col-desktop:1;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcsfhqyo69b7" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div 
  class="xb-html-video kpr-video-ani id_mcsfhqyo7ifh" style="--xb-html-video-width-desktop:100%;--xb-html-video-width-tablet:100%;--xb-html-video-width-mobile:100%;--xb-video-mask-aspect-ratio:56.25;--xb-image-mask-svg:url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221');"   
>
  
      <div class="xb-html-video__video-content"><span></span></div>
      
  <video
    class="xb-html-video__item"
    poster="https://cdn.shopify.com/s/files/1/0580/6994/2352/files/preview_images/0930697362eb402b85192b45e565fd97.thumbnail.0000000000.jpg?v=1751797553" 
    width="100%"
    style="width: 100%"
    type="video/mp4"
    src="https://cdn.shopify.com/videos/c/o/v/0930697362eb402b85192b45e565fd97.mp4"
    muted="" loop="" autoplay=""
  ></video>

      <div>
        

      </div>
    
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section>
<script src="{{ 'xb-1da259eb.min.js' | asset_url }}" defer="defer"></script>
        {% schema %}
        {"name":"[XB]KPR-Video Section","settings":[{"type":"header","content":"Edit this section in [XO Builder](https://admin.shopify.com/store/zqfxsg-vp/apps/xo-builder/app/section-editor/686a4f8c516775dd1da259eb) app"}],"presets":[{"name":"[XB]KPR-Video Section"}]}
        {% endschema %}