{{ 'xb-home.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section hero-section id_mcvfa4r24jkw" style="--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvfa4r24jkw"
      data-xb-scroll-id="id_mcvfa4r24jkw"
      data-xb-section-global="false"
      xo-preset="2581912550"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-wrapper mask-wrapper id_mcvfaruh83rg" style="--xb-wld:row;--xb-wvsd:15px;--xb-whsd:0px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:0px;--xb-whsm:0px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-whad:none;--xb-what:none;--xb-wham:none;--xb-wvad:start;--xb-wvat:start;--xb-wvam:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div
  class="xb-wrapper id_mcvfb6uh10ebc" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:25%;--xb-wwt:25%;--xb-wwm:25%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:0;--xb-whprd:0;--xb-whplt:0;--xb-whprt:0;--xb-whplm:0;--xb-whprm:0;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvfd4yo14zbu" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2100 / 3135;--xb-image-aspect-ratio-tablet:2100 / 3135;--xb-image-aspect-ratio-mobile:2100 / 3135;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/left-wall_38f48088-0818-4a3b-bedf-9908e705f358.webp?v=1752041232'
    loading='lazy'
    alt=""
    width='2100'
    height='3135'
    xo-intrinsic-width='2100'
    xo-intrinsic-height='3135'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:111.41%;--xb-fhd:127.91%;--xb-fxd:13.71%;--xb-fyd:35.35%;--xb-fad:0deg;--xb-fard:0.8710030490188414;--xb-fwt:111.41%;--xb-fht:127.91%;--xb-fxt:13.71%;--xb-fyt:35.35%;--xb-fat:0deg;--xb-fart:0.8710030490188414;--xb-fwm:111.41%;--xb-fhm:127.91%;--xb-fxm:13.71%;--xb-fym:35.35%;--xb-fam:0deg;--xb-farm:0.8710030490188414;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvk9wyn237ei" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1054 / 1122;--xb-image-aspect-ratio-tablet:1054 / 1122;--xb-image-aspect-ratio-mobile:1054 / 1122;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/left-tiger.webp?v=1752030784'
    loading='lazy'
    alt=""
    width='1054'
    height='1122'
    xo-intrinsic-width='1054'
    xo-intrinsic-height='1122'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:109.22%;--xb-fhd:55.34%;--xb-fxd:34.5%;--xb-fyd:130.9%;--xb-fad:0deg;--xb-fard:1.9736176364293456;--xb-fwt:109.22%;--xb-fht:55.34%;--xb-fxt:34.5%;--xb-fyt:130.9%;--xb-fat:0deg;--xb-fart:1.9736176364293456;--xb-fwm:109.22%;--xb-fhm:55.34%;--xb-fxm:34.5%;--xb-fym:130.9%;--xb-fam:0deg;--xb-farm:1.9736176364293456;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvkko6536q7e" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2289 / 1148;--xb-image-aspect-ratio-tablet:2289 / 1148;--xb-image-aspect-ratio-mobile:2289 / 1148;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/tdt-button.webp?v=1752032275'
    loading='lazy'
    alt=""
    width='2289'
    height='1148'
    xo-intrinsic-width='2289'
    xo-intrinsic-height='1148'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>
<div
  class="xb-wrapper id_mcvfbcqw11wmr" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:50%;--xb-wwt:50%;--xb-wwm:50%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:0;--xb-whprd:0;--xb-whplt:0;--xb-whprt:0;--xb-whplm:0;--xb-whprm:0;--xb-wz:0;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvfcrbe13blb" style="--xb-image-width-desktop:92%;--xb-image-width-tablet:92%;--xb-image-width-mobile:92%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:3328 / 2413;--xb-image-aspect-ratio-tablet:3328 / 2413;--xb-image-aspect-ratio-mobile:3328 / 2413;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/back_middle.webp?v=1752030225'
    loading='lazy'
    alt=""
    width='3328'
    height='2413'
    xo-intrinsic-width='3328'
    xo-intrinsic-height='2413'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:60.75%;--xb-fhd:67.07%;--xb-fxd:19.62%;--xb-fyd:2.61%;--xb-fad:0deg;--xb-fard:0.905770090949754;--xb-fwt:60.75%;--xb-fht:67.07%;--xb-fxt:19.62%;--xb-fyt:2.61%;--xb-fat:0deg;--xb-fart:0.905770090949754;--xb-fwm:60.75%;--xb-fhm:67.07%;--xb-fxm:19.62%;--xb-fym:2.61%;--xb-fam:0deg;--xb-farm:0.905770090949754;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><div
  class="xb-wrapper id_mcvkhvb3311ki" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvki72l32xey" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2100 / 1863;--xb-image-aspect-ratio-tablet:2100 / 1863;--xb-image-aspect-ratio-mobile:2100 / 1863;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/skull-mask.webp?v=1751617770'
    loading='lazy'
    alt=""
    width='2100'
    height='1863'
    xo-intrinsic-width='2100'
    xo-intrinsic-height='1863'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<figure
  class="xb-image id_mcvkinkn33evq" style="--xb-image-width-desktop:80%;--xb-image-width-tablet:80%;--xb-image-width-mobile:80%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:1859 / 348;--xb-image-aspect-ratio-tablet:1859 / 348;--xb-image-aspect-ratio-mobile:1859 / 348;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/hybrid-btn.webp?v=1752032281'
    loading='lazy'
    alt=""
    width='1859'
    height='348'
    xo-intrinsic-width='1859'
    xo-intrinsic-height='348'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>
  </div>
</div>

  
  
</div>
<div
  class="xb-wrapper id_mcvfbe8g12qaf" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:25%;--xb-wwt:25%;--xb-wwm:25%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:0;--xb-whprd:0;--xb-whplt:0;--xb-whprt:0;--xb-whplm:0;--xb-whprm:0;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvfd68v15gak" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2100 / 3135;--xb-image-aspect-ratio-tablet:2100 / 3135;--xb-image-aspect-ratio-mobile:2100 / 3135;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/right-wall_8d777c82-30bd-4202-a619-f377edb42971.webp?v=1752041240'
    loading='lazy'
    alt=""
    width='2100'
    height='3135'
    xo-intrinsic-width='2100'
    xo-intrinsic-height='3135'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:118.21%;--xb-fhd:116.99%;--xb-fxd:-28.89%;--xb-fyd:34.05%;--xb-fad:0deg;--xb-fard:1.0104282417300623;--xb-fwt:118.21%;--xb-fht:116.99%;--xb-fxt:-28.89%;--xb-fyt:34.05%;--xb-fat:0deg;--xb-fart:1.0104282417300623;--xb-fwm:118.21%;--xb-fhm:116.99%;--xb-fxm:-28.89%;--xb-fym:34.05%;--xb-fam:0deg;--xb-farm:1.0104282417300623;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvkb8a626fkf" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2298 / 2248;--xb-image-aspect-ratio-tablet:2298 / 2248;--xb-image-aspect-ratio-mobile:2298 / 2248;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/right-solider.webp?v=1752031126'
    loading='lazy'
    alt=""
    width='2298'
    height='2248'
    xo-intrinsic-width='2298'
    xo-intrinsic-height='2248'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:109.22%;--xb-fhd:55.58%;--xb-fxd:-47.39%;--xb-fyd:130.66%;--xb-fad:0deg;--xb-fard:1.9650953580424613;--xb-fwt:109.22%;--xb-fht:55.58%;--xb-fxt:-47.39%;--xb-fyt:130.66%;--xb-fat:0deg;--xb-fart:1.9650953580424613;--xb-fwm:109.22%;--xb-fhm:55.58%;--xb-fxm:-47.39%;--xb-fym:130.66%;--xb-fam:0deg;--xb-farm:1.9650953580424613;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvkmybq3950i" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2251 / 1126;--xb-image-aspect-ratio-tablet:2251 / 1126;--xb-image-aspect-ratio-mobile:2251 / 1126;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/modern-button.webp?v=1752032268'
    loading='lazy'
    alt=""
    width='2251'
    height='1126'
    xo-intrinsic-width='2251'
    xo-intrinsic-height='1126'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>

  
  
</div>
<div
  class="xb-wrapper xb-wrapper--desktop-top-center xb-wrapper--tablet-top-center xb-wrapper--mobile-top-center hero-intro id_mcvl04e5424i8" style="--xb-wld:row;--xb-wvsd:15px;--xb-whsd:0px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:0px;--xb-whsm:0px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-whad:none;--xb-what:none;--xb-wham:none;--xb-wvad:start;--xb-wvat:start;--xb-wvam:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:absolute;"   
  
>
  <div
  class="xb-wrapper id_mcvl14t261yw7" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvl14t3628fp" style="--xb-image-width-desktop:200px;--xb-image-width-tablet:200px;--xb-image-width-mobile:200px;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:571 / 411;--xb-image-aspect-ratio-tablet:571 / 411;--xb-image-aspect-ratio-mobile:571 / 411;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/logo_kyperus_w.png?v=1751362112'
    loading='lazy'
    alt=""
    width='571'
    height='411'
    xo-intrinsic-width='571'
    xo-intrinsic-height='411'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<h2
  class="xb-heading xb-h2 id_mcvl14t4633wf" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>THE EVOLUTION OF MODERN BILLIARDS</p>
  </div>
</h2>


  
  
</div>

  
  
</div>

  </div>

      
      
      
      
      
      
      
    </section><section
      class="xb-section kpr-video-wrapper id_mcvbtehn4667r" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:start;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvbtehn4667r"
      data-xb-scroll-id="id_mcvbtehn4667r"
      data-xb-section-global="false"
      xo-preset="4150172838"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcvbtehn47u4m" style="--xb-col-desktop:1;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvbtehn48nxu" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div 
  class="xb-html-video kpr-video-ani id_mcvbtehn49156" style="--xb-html-video-width-desktop:100%;--xb-html-video-width-tablet:100%;--xb-html-video-width-mobile:100%;--xb-video-mask-aspect-ratio:56.25;--xb-image-mask-svg:url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221');"   
>
  
      <div class="xb-html-video__video-content"><span></span></div>
      
  <video
    class="xb-html-video__item"
    poster="https://cdn.shopify.com/s/files/1/0580/6994/2352/files/preview_images/0930697362eb402b85192b45e565fd97.thumbnail.0000000000.jpg?v=1751797553" 
    width="100%"
    style="width: 100%"
    type="video/mp4"
    src="https://cdn.shopify.com/videos/c/o/v/0930697362eb402b85192b45e565fd97.mp4"
    muted="" 
  ></video>

      <div>
        

      </div>
    
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section><section
      class="xb-section modern-concept id_mcvbtqoq51fp1" style="--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvbtqoq51fp1"
      data-xb-scroll-id="id_mcvbtqoq51fp1"
      data-xb-section-global="false"
      xo-preset="2036964934"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcvbtqoq52ilm" style="--xb-col-desktop:12;--xb-col-tablet:12;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvbtqoq5320x" 
  style="--xb-span-col-desktop:3;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  false
><div
  class="xb-wrapper id_mcvbtqoq541ba" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvbtqoq55dxk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1750 / 2000;--xb-image-aspect-ratio-tablet:1750 / 2000;--xb-image-aspect-ratio-mobile:1750 / 2000;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/snake-and-skull-02-01-01.png?v=1751881150'
    loading='lazy'
    alt=""
    width='1750'
    height='2000'
    xo-intrinsic-width='1750'
    xo-intrinsic-height='2000'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<figure
  class="xb-image id_mcvbtqoq56kuk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1200 / 1200;--xb-image-aspect-ratio-tablet:1200 / 1200;--xb-image-aspect-ratio-mobile:1200 / 1200;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/Skull1.png?v=1751881181'
    loading='lazy'
    alt=""
    width='1200'
    height='1200'
    xo-intrinsic-width='1200'
    xo-intrinsic-height='1200'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>

<div 
  xo-column 
  class="xb-column id_mcvbtqoq594f7" 
  style="--xb-span-col-desktop:4;--xb-span-col-tablet:4;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div class="xb-parallax-scroll xb-parallax-scroll--relative xb-parallax-scroll--real" style="--xb-ddr-z-index:99;--xb-ddr-real-width-desktop:100%;--xb-ddr-real-height-desktop:10%;--xb-ddr-real-x-desktop:50%;--xb-ddr-real-y-desktop:50.01%;--xb-ddr-real-angle-desktop:0deg;--xb-ddr-real-width-tablet:100%;--xb-ddr-real-height-tablet:10.51%;--xb-ddr-real-x-tablet:50%;--xb-ddr-real-y-tablet:52.57%;--xb-ddr-real-angle-tablet:0deg;--xb-ddr-real-width-mobile:100%;--xb-ddr-real-height-mobile:101.54%;--xb-ddr-real-x-mobile:50%;--xb-ddr-real-y-mobile:507.88%;--xb-ddr-real-angle-mobile:0deg;">
  <xo-parallax>
    <xo-parallax-scroll
      xo-keyframes="{'0%':{'y':'100px'},'50%':{'y':'0px'},'100%':{'y':'1px'}}"
       xo-breakpoints="{ 991: {'0%':{'y':'200px'},'50%':{'y':'0px'},'100%':{'y':'-200px'}}, 767: {'0%':{'y':'150px'},'50%':{'y':'0px'},'100%':{'y':'0px'}} }"
      xo-lerp-ease="0.5"
    >
      <h2
  class="xb-heading xb-h2 id_mcvbtqor61tol" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>MODERN CUES</p>
  </div>
</h2>
<div
  class="xb-paragraph xb-typo id_mcvbtqor622lv" style="--xb-paragraph-drop-cap-color:;--xb-paragraph-drop-cap-size-desktop:50px;"   
  tabindex="-1"
>
  <div text-binding="text"><p>Embrace the shadows and command the night in the Midnight Maverick fashion line. This collection isn't for the faint of heart; it's for those who redefine elegance on their own terms. </p></div>
</div>
<figure
  class="xb-image id_mcvbtqor6310a" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 150;--xb-image-aspect-ratio-tablet:100 / 150;--xb-image-aspect-ratio-mobile:100 / 150;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-2.webp?v=1751855542'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

    </xo-parallax-scroll>
  </xo-parallax>
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_mcvbtqor648hh" 
  style="--xb-span-col-desktop:5;--xb-span-col-tablet:5;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div class="xb-parallax-scroll xb-parallax-scroll--relative xb-parallax-scroll--real" style="--xb-ddr-z-index:99;--xb-ddr-real-width-desktop:100%;--xb-ddr-real-height-desktop:21.31%;--xb-ddr-real-x-desktop:49.96%;--xb-ddr-real-y-desktop:106.51%;--xb-ddr-real-angle-desktop:0deg;--xb-ddr-real-width-tablet:100%;--xb-ddr-real-height-tablet:33.08%;--xb-ddr-real-x-tablet:50%;--xb-ddr-real-y-tablet:165.35%;--xb-ddr-real-angle-tablet:0deg;--xb-ddr-real-width-mobile:100%;--xb-ddr-real-height-mobile:100.62%;--xb-ddr-real-x-mobile:50%;--xb-ddr-real-y-mobile:502.94%;--xb-ddr-real-angle-mobile:0deg;">
  <xo-parallax>
    <xo-parallax-scroll
      xo-keyframes="{'0%':{'y':'300px'},'50%':{'y':'150px'},'100%':{'y':'0px'}}"
       xo-breakpoints="{ 991: {'0%':{'y':'200px'},'50%':{'y':'0px'},'100%':{'y':'-200px'}}, 767: {'0%':{'y':'150px'},'50%':{'y':'0px'},'100%':{'y':'0px'}} }"
      xo-lerp-ease="0.05"
    >
      <div
  class="xb-wrapper id_mcvbtqor6684t" style="--xb-wld:column;--xb-wvsd:30px;--xb-whsd:15px;--xb-wvst:30px;--xb-wvsm:30px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvbtqor675h3" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:100 / 100;--xb-image-aspect-ratio-tablet:100 / 100;--xb-image-aspect-ratio-mobile:100 / 100;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-1.webp?v=1751854943'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<figure
  class="xb-image id_mcvbtqor6837g" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:3560 / 2003;--xb-image-aspect-ratio-tablet:3560 / 2003;--xb-image-aspect-ratio-mobile:3560 / 2003;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-3.webp?v=1751854997'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>

    </xo-parallax-scroll>
  </xo-parallax>
  
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section><script src="{{ 'xb-home.min.js' | asset_url }}" defer="defer"></script>
        {% schema %}
        {"name":"[XB]KPR-Homepage","settings":[{"type":"header","content":"Edit this page in [XO Builder](https://admin.shopify.com/store/zqfxsg-vp/apps/xo-builder/app/page-editor/686dd0c1516775dd1da31017) app"}]}
        {% endschema %}