{{ 'xb-home.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section id_mcrir51w45ub" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:center;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcrir51w45ub"
      data-xb-scroll-id="id_mcrir51w45ub"
      data-xb-section-global="false"
      xo-preset="759893158"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcrir51w5mdd" style="--xb-col-desktop:3;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcrir51w67ny" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div
  class="xb-wrapper id_mcrir51w7i9f" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:end;--xb-wvat:end;--xb-wvam:end;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:87.26%;--xb-fhd:137.46%;--xb-fxd:0%;--xb-fyd:-12.13%;--xb-fad:0deg;--xb-fard:0.6348028517386877;--xb-fwt:87.26%;--xb-fht:137.46%;--xb-fxt:0%;--xb-fyt:-12.13%;--xb-fat:0deg;--xb-fart:0.6348028517386877;--xb-fwm:87.26%;--xb-fhm:137.46%;--xb-fxm:0%;--xb-fym:-12.13%;--xb-fam:0deg;--xb-farm:0.6348028517386877;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcrir51w94pk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 127;--xb-image-aspect-ratio-tablet:100 / 127;--xb-image-aspect-ratio-mobile:100 / 127;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/tiger.webp?v=1751617973'
    loading='lazy'
    alt=""
    width='2304'
    height='3428'
    xo-intrinsic-width='2304'
    xo-intrinsic-height='3428'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:90.85%;--xb-fhd:43.81%;--xb-fxd:3.53%;--xb-fyd:76.53%;--xb-fad:11.83deg;--xb-fard:2.073727459484136;--xb-fwt:90.85%;--xb-fht:43.81%;--xb-fxt:3.53%;--xb-fyt:76.53%;--xb-fat:11.83deg;--xb-fart:2.073727459484136;--xb-fwm:90.85%;--xb-fhm:43.81%;--xb-fxm:3.53%;--xb-fym:76.53%;--xb-fam:11.83deg;--xb-farm:2.073727459484136;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcrir51w11unx" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:2654 / 1278;--xb-image-aspect-ratio-tablet:2654 / 1278;--xb-image-aspect-ratio-mobile:2654 / 1278;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/right_button.png?v=1751686822'
    loading='lazy'
    alt=""
    width='2654'
    height='1278'
    xo-intrinsic-width='2654'
    xo-intrinsic-height='1278'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_mcrir51w1289j" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><figure
  class="xb-image id_mcrir51w132ow" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2100 / 1863;--xb-image-aspect-ratio-tablet:2100 / 1863;--xb-image-aspect-ratio-mobile:2100 / 1863;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/skull-mask.webp?v=1751617770'
    loading='lazy'
    alt=""
    width='2100'
    height='1863'
    xo-intrinsic-width='2100'
    xo-intrinsic-height='1863'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_mcrir51w144bn" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div
  class="xb-wrapper id_mcrir51w153md" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:87.07%;--xb-fhd:108.47%;--xb-fxd:19.34%;--xb-fyd:-0.82%;--xb-fad:0deg;--xb-fard:0.8027104268461325;--xb-fwt:87.07%;--xb-fht:108.47%;--xb-fxt:19.34%;--xb-fyt:-0.82%;--xb-fat:0deg;--xb-fart:0.8027104268461325;--xb-fwm:87.07%;--xb-fhm:108.47%;--xb-fxm:19.34%;--xb-fym:-0.82%;--xb-fam:0deg;--xb-farm:0.8027104268461325;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcrir51w175b8" style="--xb-image-width-desktop:83%;--xb-image-width-tablet:83%;--xb-image-width-mobile:83%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 150;--xb-image-aspect-ratio-tablet:100 / 150;--xb-image-aspect-ratio-mobile:100 / 150;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/solider.webp?v=1751617972'
    loading='lazy'
    alt=""
    width='1655'
    height='2502'
    xo-intrinsic-width='1655'
    xo-intrinsic-height='2502'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:78.46%;--xb-fhd:43.16%;--xb-fxd:5.17%;--xb-fyd:80.89%;--xb-fad:352.78deg;--xb-fard:1.8178869323447637;--xb-fwt:78.46%;--xb-fht:43.16%;--xb-fxt:5.17%;--xb-fyt:80.89%;--xb-fat:352.78deg;--xb-fart:1.8178869323447637;--xb-fwm:78.46%;--xb-fhm:43.16%;--xb-fxm:5.17%;--xb-fym:80.89%;--xb-fam:352.78deg;--xb-farm:1.8178869323447637;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcrir51w19erj" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2012 / 1105;--xb-image-aspect-ratio-tablet:2012 / 1105;--xb-image-aspect-ratio-mobile:2012 / 1105;--xb-image-object-fit:contain;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/modern_copy.png?v=1751681225'
    loading='lazy'
    alt=""
    width='2012'
    height='1105'
    xo-intrinsic-width='2012'
    xo-intrinsic-height='1105'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>
</div>

</div>

  </div>

      
      <div
    class="xb-section__background-image"
    style="
      --xb-section-background-image-desktop: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=1950');
      --xb-section-background-image-tablet: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=1200');
      --xb-section-background-image-mobile: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=600');
      --xb-section-background-repeat-desktop: repeat;
      --xb-section-background-repeat-tablet: repeat;
      --xb-section-background-repeat-mobile: repeat;
      --xb-section-background-position-desktop: 50% 15%;
      --xb-section-background-position-tablet: 50% 15%;
      --xb-section-background-position-mobile: 50% 15%;
      --xb-section-background-size-desktop: cover;
      --xb-section-background-size-tablet: cover;
      --xb-section-background-size-mobile: cover;
      "
      
  ></div>
      
      
      
      
      
    </section>
<script src="{{ 'xb-home.min.js' | asset_url }}" defer="defer"></script>
        {% schema %}
        {"name":"[XB]Homepage","settings":[{"type":"header","content":"Edit this page in [XO Builder](https://admin.shopify.com/store/zqfxsg-vp/apps/xo-builder/app/page-editor/686a4d62516775dd1da258d6) app"}]}
        {% endschema %}