{{ 'xb-home.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section hero-section mask-wrapper id_mcvb5kxl46qo" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:center;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvb5kxl46qo"
      data-xb-scroll-id="id_mcvb5kxl46qo"
      data-xb-section-global="false"
      xo-preset="759893158"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcvb5kxl58j1" style="--xb-col-desktop:3;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvb5kxl6pz9" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div
  class="xb-wrapper id_mcvb5kxl7vm9" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:end;--xb-wvat:end;--xb-wvam:end;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:87.26%;--xb-fhd:137.46%;--xb-fxd:0%;--xb-fyd:-12.13%;--xb-fad:0deg;--xb-fard:0.6348028517386877;--xb-fwt:87.26%;--xb-fht:137.46%;--xb-fxt:0%;--xb-fyt:-12.13%;--xb-fat:0deg;--xb-fart:0.6348028517386877;--xb-fwm:87.26%;--xb-fhm:137.46%;--xb-fxm:0%;--xb-fym:-12.13%;--xb-fam:0deg;--xb-farm:0.6348028517386877;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvb5kxl9vvx" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 127;--xb-image-aspect-ratio-tablet:100 / 127;--xb-image-aspect-ratio-mobile:100 / 127;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/tiger.webp?v=1751617973'
    loading='lazy'
    alt=""
    width='2304'
    height='3428'
    xo-intrinsic-width='2304'
    xo-intrinsic-height='3428'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:90.85%;--xb-fhd:43.83%;--xb-fxd:3.53%;--xb-fyd:76.53%;--xb-fad:11.83deg;--xb-fard:2.0727812000912618;--xb-fwt:90.85%;--xb-fht:43.83%;--xb-fxt:3.53%;--xb-fyt:76.53%;--xb-fat:11.83deg;--xb-fart:2.0727812000912618;--xb-fwm:90.85%;--xb-fhm:43.83%;--xb-fxm:3.53%;--xb-fym:76.53%;--xb-fam:11.83deg;--xb-farm:2.0727812000912618;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvb5kxl117ga" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:2654 / 1278;--xb-image-aspect-ratio-tablet:2654 / 1278;--xb-image-aspect-ratio-mobile:2654 / 1278;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/right_button.png?v=1751686822'
    loading='lazy'
    alt=""
    width='2654'
    height='1278'
    xo-intrinsic-width='2654'
    xo-intrinsic-height='1278'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_mcvb5kxl12ril" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><figure
  class="xb-image id_mcvb5kxl13d3y" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2100 / 1863;--xb-image-aspect-ratio-tablet:2100 / 1863;--xb-image-aspect-ratio-mobile:2100 / 1863;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/skull-mask.webp?v=1751617770'
    loading='lazy'
    alt=""
    width='2100'
    height='1863'
    xo-intrinsic-width='2100'
    xo-intrinsic-height='1863'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_mcvb5kxl146hw" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div
  class="xb-wrapper id_mcvb5kxl15wt9" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:87.07%;--xb-fhd:108.47%;--xb-fxd:19.34%;--xb-fyd:-0.82%;--xb-fad:0deg;--xb-fard:0.8027104268461325;--xb-fwt:87.07%;--xb-fht:108.47%;--xb-fxt:19.34%;--xb-fyt:-0.82%;--xb-fat:0deg;--xb-fart:0.8027104268461325;--xb-fwm:87.07%;--xb-fhm:108.47%;--xb-fxm:19.34%;--xb-fym:-0.82%;--xb-fam:0deg;--xb-farm:0.8027104268461325;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvb5kxl17sas" style="--xb-image-width-desktop:83%;--xb-image-width-tablet:83%;--xb-image-width-mobile:83%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 150;--xb-image-aspect-ratio-tablet:100 / 150;--xb-image-aspect-ratio-mobile:100 / 150;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/solider.webp?v=1751617972'
    loading='lazy'
    alt=""
    width='1655'
    height='2502'
    xo-intrinsic-width='1655'
    xo-intrinsic-height='2502'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>
<div class="xb-freedom xb-freedom-alignment " style="--xb-fzi:99;--xb-fwd:78.46%;--xb-fhd:43.16%;--xb-fxd:5.17%;--xb-fyd:80.89%;--xb-fad:352.78deg;--xb-fard:1.8178869323447637;--xb-fwt:78.46%;--xb-fht:43.16%;--xb-fxt:5.17%;--xb-fyt:80.89%;--xb-fat:352.78deg;--xb-fart:1.8178869323447637;--xb-fwm:78.46%;--xb-fhm:43.16%;--xb-fxm:5.17%;--xb-fym:80.89%;--xb-fam:352.78deg;--xb-farm:1.8178869323447637;--xb-fhad:start;--xb-fhat:start;--xb-fham:start;--xb-fvad:start;--xb-fvat:start;--xb-fvam:start;">
  <div class="xb-freedom__inner">
    <div class="xb-freedom__content"><figure
  class="xb-image id_mcvb5kxl199c2" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:2012 / 1105;--xb-image-aspect-ratio-tablet:2012 / 1105;--xb-image-aspect-ratio-mobile:2012 / 1105;--xb-image-object-fit:contain;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/modern_copy.png?v=1751681225'
    loading='lazy'
    alt=""
    width='2012'
    height='1105'
    xo-intrinsic-width='2012'
    xo-intrinsic-height='1105'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
  </div>
</div>

  
  
</div>
</div>

</div>

  </div>

      
      <div
    class="xb-section__background-image"
    style="
      --xb-section-background-image-desktop: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=1950');
      --xb-section-background-image-tablet: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=1200');
      --xb-section-background-image-mobile: url('https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-bg-2.webp?v=1751685301&width=1950&width=600');
      --xb-section-background-repeat-desktop: repeat;
      --xb-section-background-repeat-tablet: repeat;
      --xb-section-background-repeat-mobile: repeat;
      --xb-section-background-position-desktop: 50% 15%;
      --xb-section-background-position-tablet: 50% 15%;
      --xb-section-background-position-mobile: 50% 15%;
      --xb-section-background-size-desktop: cover;
      --xb-section-background-size-tablet: cover;
      --xb-section-background-size-mobile: cover;
      "
      
  ></div>
      
      
      
      
      
    </section><section
      class="xb-section entrance-message id_mcvbsjbd33ljb" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:start;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvbsjbd33ljb"
      data-xb-scroll-id="id_mcvbsjbd33ljb"
      data-xb-section-global="false"
      xo-preset="3690218278"
    >
      
  <div class="xb-container xb-full-width" >
    <div
  class="xb-grid id_mcvbsjbd34eax" style="--xb-col-desktop:1;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvbsjbd35v9y" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div
  class="xb-wrapper id_mcvbsjbd36tca" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvbsjbd37fes" style="--xb-image-width-desktop:200px;--xb-image-width-tablet:200px;--xb-image-width-mobile:200px;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:571 / 411;--xb-image-aspect-ratio-tablet:571 / 411;--xb-image-aspect-ratio-mobile:571 / 411;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/logo_kyperus_w.png?v=1751362112'
    loading='lazy'
    alt=""
    width='571'
    height='411'
    xo-intrinsic-width='571'
    xo-intrinsic-height='411'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<h2
  class="xb-heading xb-h2 id_mcvbsjbd38osd" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>THE EVOLUTION OF MODERN BILLIARDS</p>
  </div>
</h2>


  
  
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section><section
      class="xb-section kpr-video-wrapper id_mcvbtehn4667r" style="--xb-section-min-height-desktop:100vh;--xb-section-align-content-desktop:start;--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvbtehn4667r"
      data-xb-scroll-id="id_mcvbtehn4667r"
      data-xb-section-global="false"
      xo-preset="4150172838"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcvbtehn47u4m" style="--xb-col-desktop:1;--xb-col-tablet:1;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvbtehn48nxu" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div 
  class="xb-html-video kpr-video-ani id_mcvbtehn49156" style="--xb-html-video-width-desktop:100%;--xb-html-video-width-tablet:100%;--xb-html-video-width-mobile:100%;--xb-video-mask-aspect-ratio:56.25;--xb-image-mask-svg:url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221');"   
>
  
      <div class="xb-html-video__video-content"><span></span></div>
      
  <video
    class="xb-html-video__item"
    poster="https://cdn.shopify.com/s/files/1/0580/6994/2352/files/preview_images/0930697362eb402b85192b45e565fd97.thumbnail.0000000000.jpg?v=1751797553" 
    width="100%"
    style="width: 100%"
    type="video/mp4"
    src="https://cdn.shopify.com/videos/c/o/v/0930697362eb402b85192b45e565fd97.mp4"
    muted="" loop="" autoplay=""
  ></video>

      <div>
        

      </div>
    
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section><section
      class="xb-section modern-concept id_mcvbtqoq51fp1" style="--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-blur:0px;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_mcvbtqoq51fp1"
      data-xb-scroll-id="id_mcvbtqoq51fp1"
      data-xb-section-global="false"
      xo-preset="2036964934"
    >
      
  <div class="xb-container xb-full-width" style="--xb-container-gap-desktop:0px;--xb-container-gap-tablet:15px;--xb-container-gap-mobile:15px;">
    <div
  class="xb-grid id_mcvbtqoq52ilm" style="--xb-col-desktop:12;--xb-col-tablet:12;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-grid-row-height-desktop:100px;--xb-grid-row-height-tablet:100px;--xb-grid-row-height-mobile:100px;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_mcvbtqoq5320x" 
  style="--xb-span-col-desktop:3;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  false
><div
  class="xb-wrapper id_mcvbtqoq541ba" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvbtqoq55dxk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1750 / 2000;--xb-image-aspect-ratio-tablet:1750 / 2000;--xb-image-aspect-ratio-mobile:1750 / 2000;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/snake-and-skull-02-01-01.png?v=1751881150'
    loading='lazy'
    alt=""
    width='1750'
    height='2000'
    xo-intrinsic-width='1750'
    xo-intrinsic-height='2000'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<figure
  class="xb-image id_mcvbtqoq56kuk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1200 / 1200;--xb-image-aspect-ratio-tablet:1200 / 1200;--xb-image-aspect-ratio-mobile:1200 / 1200;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/Skull1.png?v=1751881181'
    loading='lazy'
    alt=""
    width='1200'
    height='1200'
    xo-intrinsic-width='1200'
    xo-intrinsic-height='1200'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>

<div 
  xo-column 
  class="xb-column id_mcvbtqoq594f7" 
  style="--xb-span-col-desktop:4;--xb-span-col-tablet:4;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div class="xb-parallax-scroll xb-parallax-scroll--relative xb-parallax-scroll--real" style="--xb-ddr-z-index:99;--xb-ddr-real-width-desktop:100%;--xb-ddr-real-height-desktop:10%;--xb-ddr-real-x-desktop:50%;--xb-ddr-real-y-desktop:50.01%;--xb-ddr-real-angle-desktop:0deg;--xb-ddr-real-width-tablet:100%;--xb-ddr-real-height-tablet:10.51%;--xb-ddr-real-x-tablet:50%;--xb-ddr-real-y-tablet:52.57%;--xb-ddr-real-angle-tablet:0deg;--xb-ddr-real-width-mobile:100%;--xb-ddr-real-height-mobile:101.54%;--xb-ddr-real-x-mobile:50%;--xb-ddr-real-y-mobile:507.88%;--xb-ddr-real-angle-mobile:0deg;">
  <xo-parallax>
    <xo-parallax-scroll
      xo-keyframes="{'0%':{'y':'100px'},'50%':{'y':'0px'},'100%':{'y':'1px'}}"
       xo-breakpoints="{ 991: {'0%':{'y':'200px'},'50%':{'y':'0px'},'100%':{'y':'-200px'}}, 767: {'0%':{'y':'150px'},'50%':{'y':'0px'},'100%':{'y':'0px'}} }"
      xo-lerp-ease="0.5"
    >
      <h2
  class="xb-heading xb-h2 id_mcvbtqor61tol" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>MODERN CUES</p>
  </div>
</h2>
<div
  class="xb-paragraph xb-typo id_mcvbtqor622lv" style="--xb-paragraph-drop-cap-color:;--xb-paragraph-drop-cap-size-desktop:50px;"   
  tabindex="-1"
>
  <div text-binding="text"><p>Embrace the shadows and command the night in the Midnight Maverick fashion line. This collection isn't for the faint of heart; it's for those who redefine elegance on their own terms. </p></div>
</div>
<figure
  class="xb-image id_mcvbtqor6310a" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;--xb-image-aspect-ratio-desktop:100 / 150;--xb-image-aspect-ratio-tablet:100 / 150;--xb-image-aspect-ratio-mobile:100 / 150;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-2.webp?v=1751855542'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

    </xo-parallax-scroll>
  </xo-parallax>
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_mcvbtqor648hh" 
  style="--xb-span-col-desktop:5;--xb-span-col-tablet:5;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
><div class="xb-parallax-scroll xb-parallax-scroll--relative xb-parallax-scroll--real" style="--xb-ddr-z-index:99;--xb-ddr-real-width-desktop:100%;--xb-ddr-real-height-desktop:21.31%;--xb-ddr-real-x-desktop:49.96%;--xb-ddr-real-y-desktop:106.51%;--xb-ddr-real-angle-desktop:0deg;--xb-ddr-real-width-tablet:100%;--xb-ddr-real-height-tablet:33.08%;--xb-ddr-real-x-tablet:50%;--xb-ddr-real-y-tablet:165.35%;--xb-ddr-real-angle-tablet:0deg;--xb-ddr-real-width-mobile:100%;--xb-ddr-real-height-mobile:100.62%;--xb-ddr-real-x-mobile:50%;--xb-ddr-real-y-mobile:502.94%;--xb-ddr-real-angle-mobile:0deg;">
  <xo-parallax>
    <xo-parallax-scroll
      xo-keyframes="{'0%':{'y':'300px'},'50%':{'y':'150px'},'100%':{'y':'0px'}}"
       xo-breakpoints="{ 991: {'0%':{'y':'200px'},'50%':{'y':'0px'},'100%':{'y':'-200px'}}, 767: {'0%':{'y':'150px'},'50%':{'y':'0px'},'100%':{'y':'0px'}} }"
      xo-lerp-ease="0.05"
    >
      <div
  class="xb-wrapper id_mcvbtqor6684t" style="--xb-wld:column;--xb-wvsd:30px;--xb-whsd:15px;--xb-wvst:30px;--xb-wvsm:30px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_mcvbtqor675h3" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:100 / 100;--xb-image-aspect-ratio-tablet:100 / 100;--xb-image-aspect-ratio-mobile:100 / 100;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-1.webp?v=1751854943'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
<figure
  class="xb-image id_mcvbtqor6837g" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:3560 / 2003;--xb-image-aspect-ratio-tablet:3560 / 2003;--xb-image-aspect-ratio-mobile:3560 / 2003;--xb-image-object-fit:cover;"   
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    
  <img
    class="xb-image__img"
    is='xo-lazyload'
    xo-src='https://cdn.shopify.com/s/files/1/0580/6994/2352/files/jason-3.webp?v=1751854997'
    loading='lazy'
    alt=""
    width='3560'
    height='2003'
    xo-intrinsic-width='3560'
    xo-intrinsic-height='2003'
    xo-fallback-width='1200'
    draggable="false"
  />

    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>

    </xo-parallax-scroll>
  </xo-parallax>
  
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
      
    </section><script src="{{ 'xb-home.min.js' | asset_url }}" defer="defer"></script>
        {% schema %}
        {"name":"[XB]KPR-Homepage","settings":[{"type":"header","content":"Edit this page in [XO Builder](https://admin.shopify.com/store/zqfxsg-vp/apps/xo-builder/app/page-editor/686dd0c1516775dd1da31017) app"}]}
        {% endschema %}