main {
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.mask-wrapper {
  mask-image: url("https://cdn.shopify.com/s/files/1/0580/6994/2352/files/kpr-text.png?v=1751557221");
  mask-repeat: no-repeat;
}